*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  min-width: 400px;
  height: 400px;
  position: relative;
}

.folha {
  /* background: green; */
  border-radius: 100% 5%;
  width: 25%;
  height: 25%;
  filter: brightness(0.75);
}

.folha-1 {
  background-color: #99cc3f;
  margin: 0 auto;
  transform: scale(0.9) rotate(-45deg) translate(-15%, -10%);
  filter: brightness(0.8);
}

.folha-2 {
  background-color: #7ba734;
  position: absolute;
  transform: scale(1.15) rotate(5deg) translate(150%, -72%);
  filter: brightness(0.65);
}

.folha-3 {
  background-color: #a8cb58;
  position: absolute;
  transform: scale(0.9) rotateY(180deg) rotate(10deg) translate(-110%, -40%);
  filter: brightness(0.65);
  filter: brightness(1);
}

.folha-4 {
  background-color: #82c311;

  /* position: absolute; */
  transform: scale(1.2) rotateY(180deg) rotate(5deg) translate(-68%, 30%);
  translate: (-68%, 30%);
  filter: brightness(0.45);
}

.folha-5 {
  background-color: #53a400;

  position: absolute;
  right: 0;
  transform: scale(1) translate(-110%, -65%);
  filter: brightness(0.8);
}

.caule {
  background: rgb(108, 61, 27);
  position: relative;
  margin: 10% 48% -18% auto;
  width: 6%;
  height: 18%;
  border-radius: 0.2rem;
}

.vaso {
  background: #F69200;
  position: relative;
  margin: 10% auto 0 auto;
  width: 60%;
  height: 15%;
  border-radius: 0.7rem;
}

.vaso::before {
  content: "";
  position: absolute;
  background: inherit;
  width: 80%;
  height: 125%;
  top: 105%;
  left: 50%;
  transform: translate(-50%) perspective(5px) rotateX(-0.6deg);
  border-radius: 0 0 0.7rem 0.7rem;
}

.vaso::after {
  content: "";
  position: absolute;
  background: #00000035;
  width: 85%;
  height: 40%;
  top: 100%;
  left: 50%;
  transform: translate(-50%) perspective(5px) rotateX(-0.6deg);
}
