body {
    background-color: rgb(141, 150, 232);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cronometro, .btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnStart, #btnPause, #btnClean {
    background-color: rgb(141, 150, 232);
    border: none;
}

span {
    position: absolute;
    font-size: 100px;
    margin-top: 60px;
}

img {
    width: 70%;
}

button {
    cursor: pointer;
}

i {
    font-size: 50px;
}